*{
    box-sizing: border-box;
    margin:0 auto;
    padding: 0;
}

header{
    width: 100%;
    height: 100px;
    background-image: url("../img/pattern.png");
    background-color: #4ea0ff;
    background-size: 30%;
    background-repeat: repeat-x;

}

header img{
    height: 80px;
    padding-top: 30px;
}

.title{
    width: 65%;
    margin: 0;
    padding-bottom: 10px;
}

main, footer{
    padding: 5px;
}

.gray{
    color: #898989;
}

.blue{
    color: #55bdeb;
}

.corp-main, ul{
    padding-top: 30px;
}

ul{
    padding-left: 15px;
}

.table{
    width: 100%;
    padding-top: 30px;
}

thead{
    background-color: #20a9e5;
    color: white;
    text-align: left;
}


.blue-td{
    background-color: #b1e5f2;
}

.width{
    width: 30%;
}

.yellow{
    background-color: yellow;
}

footer {
    padding-top: 20px;
}

.photo{
    height: 250px;
    width: 300px;
    margin: 0;
    position: relative;
}

.center{
    color: white;
    font-size: 20px;
    font-weight: 800;
    position: absolute;
    top: 10%;
    left: 40%;
    transform: translate(-40%, -10%);


}




